* {
    font-family: 'Courier New', Courier, monospace;
    /* border: solid red 1px; */
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    

}
.game {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.title {
    color: aliceblue;
    text-align: center;
    font-size: 25px;
    
}
.header {

    padding-top: 20px;
    padding-bottom: 20px;
}

.computerChoice, .yourChoice{

    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    
}
.box {

    border: solid white 1px;
    color: aliceblue;
    flex: 1 1 200px;
    aspect-ratio: 1 /1;
    max-height: 256px;
    max-width: 256px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
   

}

.rock, .paper, .scissors {
    height: 60px;
    width: 130px;
    border-radius: 20px;
    background-color: black;
    border: solid white 1px;
    color: aliceblue;
    flex: 0 1 auto;
    font-size: 24px;
}

.rock:hover , .paper:hover , .scissors:hover {
    background-color: white;
    color: black;
    border-color: aliceblue;

}
.message {
    color: aliceblue;
    display: flex;
    justify-content: center;
}


